@{
    ViewData["Title"] = "Home Page";
}

<div class="py-5 bg-image-full" style="background-image: url('img/large-hvac-system.jpg')">
    <div class="text-center my-5">
        <div class="semi-transparent-div">
            <h1 class="text-white-500 fs-1 fw-bolder">Smart HVAC Systems</h1>
            <h4 class="text-black-10 mb-0">Optimizing Climate Control using IoT and ML</h4>
        </div>
    </div>
</div>

<section>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <h2>In the edge of innovation</h2>
                <p class="lead">We are a young company pioneering the next generation of climate control solutions with our innovative Smart HVAC Systems.</p>
                <p class="mb-0">Smart HVAC Systems is not a real company. This website is for demostration propouses.</p>
                <p class="mb-0">This is part of the contest entry: 
                    <a href="https://www.hackster.io/mono-team/smart-hvac-maintenance-predicting-and-preventing-failures-3bf50c">
                        Smart HVAC Maintenance: ML-based failure detection
                    </a>
                </p>
                <p class="mb-0">If you want to know more about the contest go to 
                    <a href="https://www.hackster.io/contests/avriot">
                        Hackster.io AvrIoT contest
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>